* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #E0E1DD;
}

body {
    background-color: #0D1B2A;
}

/* -----------------------------------------------HERO-SECTION */


.banner {
    position: relative;
}

.logo {
    width: 100%;
    height: auto;
}

.self-portrait {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* -----------------------------------------------ABOUT ME */

.about-me {
    background-color: #1b263b;
    padding: 20px;
}

p {
    margin: 10px;
    letter-spacing: 2px;
}


/* -----------------------------------------------SKILLS */

.skills {
    display: grid;
    margin-top: 60px;
    background-color: #415a77;
    text-align: center;
    text-transform:uppercase;
    padding: 20px;
}

.skills-set {
    background-color: #0D1B2A;
}

h3 {
    text-decoration: underline;
    letter-spacing: 3px;
    padding: 10px;
}

.symbols {
    background-color: #1B263B;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------------------PROJECTS */

.projects {
    background-color: #778da9;
    display: grid;
    margin-top: 60px;
    text-align: center;
    text-transform:uppercase;
    padding: 20px;
}

.project {
    background-color: #1B263B;
    margin-top: 5px;
}

.project-img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* -----------------------------------------------BUTTONS */

button {
    background-color: #1B263B;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
}

.buttons {
    margin-top: 100px;
    margin-bottom: 50px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}