* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #E0E1DD;
}

body {
    background-color: #0D1B2A;
}

.logo {
    width: 100%;
    height: auto;
}

button {
    background-color: #1B263B;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
}

.self-portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}